OUTPREFIX=examples/test
THREADS=1

### General
CHROMS=chr1

### GangSTR
BAMS=examples/data/test1.bam,examples/data/test2.bam,examples/data/test3.bam,examples/data/test4.bam
REFFA=examples/data/test.fa
REGIONS=examples/data/test_regions.bed
STRINFO=examples/data/test_strinfo.bed
OPTGANGSTR=""

### dumpSTR
OPTDUMPSTR=""
MINCOV=20
MAXCOV=1000
EXPHET=0

### postmaSTR
FAMFILE=examples/data/test.fam
AFFECMINHET=0.8
UNAFFMAXTOT=0.2
