##### Test configuration file for repeats pipeline #####

# Should include paths to BAM, reference fasta, reference regions,
# test strinfo file, FAM file, output paths, and any user-defined parameters
# NONE OF THESE THINGS SHOULD BE HARD CODED ANYWHERE ELSE!
# Delete these instructions once implemented

######################################
# I/O Paths
######################################

######################################
# GangSTR parameters
######################################

######################################
# DumpSTR parameters
######################################

