BASEDIR=/storage

OUTPREFIX=/storage/mgymrek/repeat-expansions/v2/test/test
THREADS=1

### General
CHROMS=chr22

### GangSTR
BAMS=/storage/resources/datasets/IlluminaRepeatExpansions/_EGAR00001587344_repeat_expansions_NA13509.bam
REFFA=/storage/resources/dbase/human/hg19/hg19.fa
REGIONS=/storage/resources/dbase/human/hg19/gangstr_refs/hg19_ver13.bed
STRINFO=/storage/resources/dbase/human/hg19/gangstr_refs/hg19_ver13_strinfo.bed
OPTGANGSTR=" --period 3 --quiet"

### dumpSTR
filterregions=/storage/resources/dbase/human/hg19/hg19_segmentalduplications.bed
filterregionsnames=SEGDUP
OPTDUMPSTR=" --filter-regions ${filterregions} --filter-regions-names ${filterregionsnames} --drop-filtered"
MINCOV=20
MAXCOV=1000
EXPHET=0.8

